.deviceInfo {
  width: 100%;
  max-width: 700px;
  margin: 15px;
}

@media (min-width: 768px) {
  .deviceInfo {
    max-width: 25%; /* Adjust the maximum width for larger screens */
    margin-right: 16px;
  }
}

.label {
  width: 20px;
}

.labelValue {
  margin-left: auto;
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
}

table td {
  padding: 5px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.buttonDiv button:not(:last-child) {
  margin-right: 1em;
}