.deviceInfo {
  width: 100%;
  max-width: 700px;
  margin: 15px;
}

@media (min-width: 768px) {
  .deviceInfo {
    max-width: 25%; /* Adjust the maximum width for larger screens */
    margin-right: 16px;
  }
}

.elementSpacing {
  margin-bottom: 0.5rem;
}

.tagContainer {
  display: flex;
  align-items: center;
}

.tagLabel {
  flex-shrink: 0;
  text-align: left;
}

.tagValue {
  flex-grow: 1;
  margin-left: 1em;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.buttonDiv button:not(:last-child) {
  margin-right: 1em;
}