.serversInfo {
  width: 100%;
  max-width: 900px;
  margin: 15px;
}

@media (min-width: 768px) {
  .serversInfo {
    max-width: 50%; /* Adjust the maximum width for larger screens */
  }
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}