.serversInfo {
  max-width: 800px;
}

@media (max-width: 768px) {
  .serversInfo {
    max-width: 70%; /* Adjust the maximum width for larger screens */
    margin:10px;
  }
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}