/* Toast */
.toastContainer { 
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 20;
}

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  max-width: 520px;
  padding: 12px 18px;
  border-radius: 12px;
  background-color: #0f172a;
  color: #fff;
  box-shadow: var(--shadow);
}

.toast p {
  margin: 0;
  padding: 0;
}

.toast.error {
  background-color: #ef4444;
}

.toast.success {
  background-color: #10b981;
}
